.App {
  max-width: 1226px;
  margin: auto;
  background-color: aqua;
}

.nav{
  height: 70px;
  background-color: #ffc0c0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav img{
  height: 50px;
  margin-left: 10px;
}

.mm{
  height: 770px;
}
.news{
  height: 680px;
  background-color: #ffc0c0;
}
.about{
  height: 680px;
}
.vp{
  height: 680px;
  background-color: #ffc0c0;
}
.adv{
  height: 680px;
}
.cases{
  height: 680px;
  background-color: #ffc0c0;
}
.adv{
  height: 680px;
}
.cases{
  height: 680px;
  background-color: #ffc0c0;
}
.more{
  height: 680px;
}
.ifo{
  height: 260px;
  background-color: #ffc0c0;
}
